mat-card {
  display: block;
  width: 40%;
  margin: auto;
}

mat-form-field {
  display: block;
  width: 80%;
  margin: auto;
}

button {
  display: block;
  margin: auto;
  width: 60%;
}

.bottomTag {
  display: block;
  margin-top: 2em;
}

@media(max-width: 400px) {
  mat-card {
    width: 80%;
  }
}
